<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>After Dinner Mint</string>
	<string>Aftershock</string>
	<string>Apple Martini</string>
	<string>Baked Apple</string>
	<string>Bee Stinger</string>
	<string>Beetle Juice</string>
	<string>Black Eyed Susan</string>
	<string>Blue Dog</string>
	<string>Bookmaker&apos;s Luck</string>
	<string>Boxcar</string>
	<string>Cafe Joy</string>
	<string>Captain and Coke</string>
	<string>Cat&apos;s Meow</string>
	<string>Cupid&apos;s Cocktail</string>
	<string>Day at the Beach</string>
	<string>Deer Hunter</string>
	<string>Firecracker</string>
	<string>Flaming Nerd</string>
	<string>Gingerbread Man</string>
	<string>Key West Lemonade</string>
	<string>Lemon Drop</string>
	<string>Letter Bomb</string>
	<string>Long Island Ice Tea</string>
	<string>Lost in Space</string>
	<string>Manhattan</string>
	<string>Melon Tree</string>
	<string>Mexican Bomb</string>
	<string>Miami Vice</string>
	<string>Mojito</string>
	<string>Music City Sunset</string>
	<string>Neapolitan</string>
	<string>Neon Geek</string>
	<string>Polo Cocktail</string>
	<string>Purple Yummy</string>
	<string>Red Rudolph</string>
	<string>Rum Runner</string>
	<string>Sandbar Sleeper</string>
	<string>Strawberry Daiquiri</string>
	<string>Terminator</string>
	<string>Vodka Mixer</string>
</array>
</plist>
